<div class="text-center">
    <h4>
        Благодарим Ви, че пазарувате при нас!!! Това е най-добрата оценка за нашата работа!
        Изпратили сме копие на поръчката Ви на имейла с пълната информация. При проблем наш служител ще се свърже с Вас.
    </h4>
</div>

